<form method="POST" action="">
    {% csrf_token %}
        <input type="radio" name="rating" value="1"> 1
        <input type="radio" name="rating" value="2"> 2
        <input type="radio" name="rating" value="3"> 3
        <input type="radio" name="rating" value="4"> 4
        <input type="radio" name="rating" value="5"> 5
        <input type="radio" name="rating" value="6"> 6
        <input type="radio" name="rating" value="7"> 7
        <input type="radio" name="rating" value="8"> 8
        <input type="radio" name="rating" value="9"> 9
        <input type="radio" name="rating" value="10"> 10
        <input type="submit" value="Оценить">
</form>