{% extends 'book_app/base.html' %}
{%load static%}

{% block title %} {{book.title}} {% endblock %}

{% block content %}
<h2>О книге «{{book.title}}»</h2>
<p>Книга «{{book.title}}» опубликована в {{book.year}} году, автор - {{book.author}}.</p>
<p>{{book.description}}.</p>
<p>Рейтинг книжной лавки: {{avg_book_rating}}.
    Количиство страниц: {{book.page_count}}.</p>
{% if book.ebookfile_set.first is not None %}
<div class="book-download">
    Скачать
    {% for ebook_file in book.ebookfile_set.all %}
    <a href="#" class="download-link"
       data-file-url="{{ ebook_file.get_absolute_url }}"
       data-file-type="{{ ebook_file.get_file_type_display }}">
        {{ ebook_file.get_file_type_display }}
    </a>
    {% endfor %}
    <script>
        const downloadLinks = document.querySelectorAll('.download-link');

         downloadLinks.forEach(link => {
           link.addEventListener('click', (event) => {
             event.preventDefault(); // Отменяем стандартное поведение ссылки

             const fileUrl = link.dataset.fileUrl; // Получаем URL файла
             const fileType = link.dataset.fileType.toLowerCase(); // Получаем тип файла и переводим в нижний регистр

             // Создаем скрытый элемент <a> для скачивания
             const downloadLink = document.createElement('a');
             downloadLink.href = new URL(fileUrl, window.location.origin).href; // Преобразуем в абсолютный URL
             downloadLink.download = fileUrl.split('/').pop(); // Устанавливаем имя файла для скачивания

             // Добавляем ссылку в DOM
             document.body.appendChild(downloadLink);

             // Кликаем по скрытой ссылке для запуска скачивания
             downloadLink.click();

             // Удаляем ссылку из DOM
             document.body.removeChild(downloadLink);
           });
         });
    </script>
</div>
{% else %}
<p>На данный момент в нашей библиотеке нет электронной версии книги, но вы можете поделиться своим мнением об этом
    произведении в отзывах!</p>
{% endif %}
{% if not rating_exists and user_authenticate %}
<p>Отправить отзыв:</p>
<form method="post" action="">
    {% csrf_token %}
    <div class='form-style'>
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </div>
</form>
{% elif not user_authenticate %}
<p>Хотите оценить книгу?<a href="{% url 'user-authorization' %}"> Авторизуйтесь.</a></p>
{% endif %}
<div class="feedback">
    <p>Отзывы:</p>
    {% if ratings %}
    {% for rating in ratings %}
    <img src="{{ rating.user.profile_photo.url }}" alt="{{ rating.user }}" class="icon-profile-photo">
    <div class="rating-info">
        <span class="user-name">{{ rating.user }}</span>
        <span class="star">&#9733;</span>
        <span class="rating-value">{{ rating.rating }}</span>
        {% if rating.feedback is not None %}
        <p class="feedback-text">{{ rating.feedback }}</p>
        {% endif %}
    </div>
    <br>
    <span class="created-at">{{ rating.created_at }}</span>
    <hr>
    {% endfor %}
    {% endif %}
</div>

{% include 'includes/navbar.html' %}
{% endblock %}